@use '../utils/'as *;

.modal {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba($color-dark, 0.5);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__card {
    position: relative;
    padding: 5rem 2rem;
    background: $gradient-primary;
    color: $color-light;

    @include flexCenter;
  }

  & hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__title {
    color: rgba($color-light, 0.7);
    padding-top: 6rem;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -0.04em;
    margin-bottom: 0.5rem;
  }

  &__pkm-types {
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
  }

  & img {
    min-width: 35rem;
    max-width: 100vw;
  }

  &__close {
    z-index: 11;
    padding: 0 1rem;
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 2.5rem;
    color: $color-light;
    background: transparent;
  }
}
