@use '../utils/' as *;

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  padding: 7rem 2rem;
  z-index: 1;

  &__card {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;

    @include flexCenter;
  }

  & img {
    min-width: 20rem;
  }
}
