@use '../utils/'as *;
@use '../vendors/include-media'as *;

.modal {
  z-index: 11;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 100%;
  background: $gradient-primary;
  height: 100vh;
  visibility: hidden;
  opacity: 0;

  .loading-img {
    display: flex;
    justify-content: center;
    width: 100%;
    image-rendering: crisp-edges;
    z-index: 2;

    .psyduck-img {
      display: block;
      background-image: url('../assets/loading-psyduck.png');
      width: 20rem;
      height: 20rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      animation: loading infinite steps(24) 2s;

      @include spriteAnimation(loading, 0, 0, -4800px, 0);

      &.hide {
        animation: hide 0.2s forwards;

        @include fade(hide);
      }
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    overflow-y: scroll;
  }

  &__card {
    @include flexCenter;

    padding: 5rem 1rem;
    background: initial;
    color: $color-light;
    justify-content: start;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__title {
    color: rgba($color-light, 0.7);
    padding-top: 6rem;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 5rem;
  }

  &__pkm-types {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
  }

  & img {
    width: 25.6rem;
    height: 25.6rem;
    image-rendering: crisp-edges;
  }

  .pokemon-shadow {
    width: 20rem;
  }

  &__info {
    background: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: $color-dark;
    text-align: center;

    & ul {
      @include flexCenter();
    }
  }

  &__pkm-desc-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__pkm-desc {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__comments-column {
    @include flexCenter();
  }

  &__comments-title {
    color: rgba($color-light, 0.9);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
  }

  &__comments-container {
    overflow-y: auto;
    width: 100%;
    max-height: 15rem;
    background: white;
    padding: 0;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: $color-dark;
    font-size: 1.3rem;

    & li {
      padding: 1rem 2rem;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;

      &:nth-child(even) {
        background: $color-primary-acent;
        color: $color-light;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    & .comments {
      &__name {
        border-radius: 0.5rem;
        font-weight: 800;
        letter-spacing: 0.05rem;
        margin-right: 0.5rem;
      }

      &__date {
        text-align: right;
        margin-left: 0.5rem;
        flex: 0 0 8rem;
        opacity: 0.6;
      }
    }
  }

  &__form {
    width: 100%;

    @include flexCenter();

    & ul {
      width: 100%;
    }

    & textarea {
      max-height: 20rem;
    }

    & input,
    textarea {
      font-family: $main-font;
      font-size: 1.4rem;
      border: none;
      width: 100%;
      background: white;
      padding: 1rem 2rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
      color: $color-dark;
    }
  }

  &__close {
    z-index: 11;
    padding: 0 0 0 1rem;
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 2.5rem;
    color: $color-light;
    background: transparent;
  }

  .loaded {
    animation: fadeIn reverse forwards 1s;

    @include fade(fadeIn);
  }

  @include media('>=tablet') {
    @include flexCenter();

    background: rgba(0, 0, 0, 0.5);

    &__card {
      @include flexCenter;

      padding: 5rem;
      color: $color-light;
      justify-content: start;
      max-width: 96rem;
      margin: 0 auto;
      background: $gradient-primary;
      border-radius: 2rem;
    }

    &__header {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0 5rem;
    }

    &__info {
      grid-row: 2/span 3;
      grid-column: 8/span 4;
      align-self: center;
      justify-self: center;
      margin: 0;
    }

    & hgroup {
      grid-row: 1 / span 1;
      grid-column: 2 / span 10;
      align-items: center;
      position: relative;
      top: 5rem;
    }

    &__title {
      padding-top: 0;
      font-size: 7.5rem;
      font-weight: 900;
      letter-spacing: -0.04em;
      line-height: 7.5rem;
    }

    & img {
      grid-row: 2 / span 3;
      grid-column: 2 / span 6;
      align-self: center;
      justify-self: center;
      width: 30rem;
      height: 30rem;
    }

    &__comments {
      &-big-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 6%;
        padding: 0 10rem;
      }

      &-column {
        justify-content: flex-start;
        flex: 0 0 47%;
      }
    }

    &__form {
      flex: 0 0 47%;
    }
  }
}
