$dark-background-color: #303030;

// Colors

$main-light: #fff;
$main-dark: #161616;
$main-primary: #ff473d;
$main-primary-acent: #FF645C;
$main-secondary: #40ea6b;
$main-secondary-acent: #5AED7E;
// Fonts

$main-font: 'Open Sans', sans-serif;
